{% extends "layout.html" %}
{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, msg in messages %}
        {% if category == 'success' %}
            <div class="alert alert-success alert-dismissable" role="alert">
                {{msg}}</div>
        {% elif category == 'danger' %}
            <div class="alert alert-danger alert-dismissable" role="alert">
                {{msg}}</div>
        {% endif %}
        {% endfor %}
        {% endif %}
        {% endwith %}

<div class="row">
    <div class="col-12"><H2>Manage Manager</H2></div>
</div>
<div class="row">
  <div class="col-9">
   <form action="" method="post" autocomplete="off">
   <div class="row">
    <div class="col-8">
    <input type="text" class="form-control" name="search" id="search" value="{{search}}"  placeholder="Search..."/>
    </div>
    <div class="col-2" align="left">
    <input type="submit" value="Search" class="form-control btn btn-primary " name="">
    </div>
   </div>
   </form>

   </div>
    <div class="col-3" align="right">
    <a href="/manager/insert" class="btn btn-success" >Add New Manager</a>
        </div>
  </div>
<br>
{% if not data.items %}
    <p class="mt-3"> No record is found!
</p>
{% else %}
<table class="table">
    <tr class="table_header">

        <th>User Name</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Role Name</th>
        <th>Status</th>
        <th>Option</th>
    </tr>
    {% for row in data.items %}
    <tr class="table_row">
        <td>{{row['user_name']}}</td>
        <td>{{row['name']}}</td>
        <td>{{row['email']}}</td>
        <td>{{row['phone']}}</td>
        <td>{{row.roles.name}}</td>
        <td>{{row['status']}}</td>
        <td>
            <a href="/manager/update/{{row['id']}}" class="btn btn-warning btn-xs">Edit</a>
            <a href="/manager/delete/{{row['id']}}" class="btn btn-danger btn-xs"
               onclick="return confirm('Are You Sure To Delete ?')">Delete</a>
        </td>
    </tr>

    {% endfor %}
</table>
<br>

<ul class="pagination">
  {% if data.has_prev %}
   <li class="page-item"><a class="page-link" href="{{ url_for('manager.get_all_manager', page=data.prev_num) }}"><<</a></li>
  {% else %}
   <li class="page-item disabled"><span class="page-link"><<</span>
  {% endif %}
   </li>
  {% for page in data.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
  {% if page %}
   <li class="page-item"><a class="page-link" href="{{ url_for('manager.get_all_manager', page=page) }}">{{ page }}</a></li>
  {% else %}
   <li class="page-item disabled" id="example_ellipsis"><a href="#" class="page-link">…</a></li>
  {% endif %}
  {% endfor %}
  {% if data.has_next %}
   <li class="page-item"><a class="page-link" href="{{ url_for('manager.get_all_manager', page=data.next_num) }}">>></a></li>
  {% else %}
   <li class="page-item disabled"><span class="page-link">>></span>
  {% endif %}
   </ul>
<p class="mt-3">
   Page {{ data.page }} / {{ data.pages }}
</p>
  {% endif %}
{% endblock content %}